.main{
    width: 100%;
    height: 48vmax;
    background-color: rgba(34, 55, 56, 0.986);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 30%;
    height: 60%;
    background-color: black;
    border-radius: 1.5vmax;
}
.btn button{
    width: 20%;
}